name: Build Binaries

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: geode-sdk/build-geode-mod@main
      id: build

    - uses: actions/upload-artifact@v3
      with:
        name: SwapX action
        path: ${{ steps.build.outputs.build-output }}
