name: Build Binaries

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build
      uses: geode-sdk/build-geode-mod@main
      id: build

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: SwapX
        path: ${{ steps.build.outputs.build-output }}
